<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA</title>
   
</head>
<body>
    <div class="centre-box" id="register-div">
        <h2>SINGLE PAGE APP</h2>
        <form action="/n" method="post">
      <input type="text" id="login-email" class="textfeild"  name="primary" placeholder="teacher name"/>
        <br>
         <input type="text" id="login-password" class="textfeild" name="upperprimary" placeholder="student name"/>
         <br>
          <input type="number" id="login-password" class="textfeild" name="elementary" placeholder="marks"/>
          <br>
         
        <button id="register-button" class="btn-style" type="submit">SUBMIT</button><br>
        </form>
    </div>

